{% extends "store_admin_app/base.html" %}
{% load static %}

{% block content %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>


 <link rel="stylesheet" type='text/css' href="{% static 'store_admin_app/css/available_colors_crud.css'%}?{% now 'U' %}">

<div class='custom-colors-div'>

    <h1>
        Editar Color Personalizado
  </h1>



   {% if message != "No Error" %}

  <div class="alert alert-danger d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div>
       {{message}}
      </div>
  </div>
  {% endif %}



  <form method="post" class='custom-colors-form' enctype = "multipart/form-data" >

    {% csrf_token %}

     <div class="mb-3 form-field-div">
      <label for="title" class="form-label form-field-label">Titulo del Color Personalizado</label>
      <input type="text" value="{{custom_color.title}}" name="title" class="form-control" id="title">
    </div>


      <div class="mb-3 form-field-div">
           <label for="code" class="form-label form-field-label">Code
            <input type="color" class="form-control form-control-color" value="{{custom_color.code}}" name="code"  id="code" onchange="myFunction();" />
            </label>
           <span id="custom-colors-p"></span>
    </div>


 <div class="row">
      <div class='delete-button-div col-sm-6'>
      <button type="submit" class="btn btn-danger delete-button" name="delete" value="delete">Borrar</button>
    </div>

    <div class='save-button-div col-sm-6'>
      <button type="submit" class="btn btn-primary save-button" name="save" value="save">Guardar Cambios</button>
    </div>
    </div>

  </form>
</div>




<script>
    function myFunction(){
        var x = document.getElementById("custom-colors-p");
        var code = document.getElementById("code");
        x.innerHTML = code.value;
        console.log(code);
    }
</script>


{% endblock content %}
