    {% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Admin Panel</title>
    </head>

    <link rel="stylesheet" type='text/css' href="{% static 'store_admin_app/css/bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" type='text/css' href="{% static 'store_admin_app/css/bootstrap/bootstrap.css' %}">

	<link rel="stylesheet" type='text/css' href="{% static 'store_admin_app/css/base.css' %}">

    <script src="{% static   'store_admin_app/js/bootstrap/bootstrap.min.js' %}"></script>

    <body>

      <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'store_admin_app:index-view'%}">Panel de Administracion</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'store_admin_app:categories-view' %}">Categorias</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'store_admin_app:collections-view' %}">Colecciones</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'store_admin_app:custom-colors-view' %}">Colores Personalizados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'store_admin_app:products-view' %}">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'store_admin_app:orders-view' %}">Ordenes</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'store_admin_app:coupon-view' %}">Cupones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'store_admin_app:logout-view' %}">Salir de la Cuenta</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    {% block content %}{% endblock content %}
    </body>
</html>
