{% extends "store_admin_app/base.html" %}
{% load static %}

{% block content %}


<div class = 'category-div'>

    <h1>
        Categorias
    </h1>

 <link rel="stylesheet" type='text/css' href="{% static 'store_admin_app/css/categories.css'%}?{% now 'U' %}">
<div class = 'search-form-div'>
 <form method="post">
       {% csrf_token %}
      <div class="input-group mb-3">
        <input  name="search_category" type="text" class="form-control" placeholder="Buscar por titulo ... "/>
        <button type="submit" class="btn btn-primary search-button">
          Buscar
        </button>
      </div>
 </form>

    <div class="create-button-div">
        <a href='{% url "store_admin_app:category-create-view" %}'>
            <button class="btn btn-primary create-button">
              ADICIONAR +
            </button>
        </a>
    </div>

 </div>

    <div class="category-list-div">

        <h2>Lista de Categorias</h2>
            <div class="category-list-elements-div">
              {% for cat in categories %}
            <div class='category-list'>
              <a class='category-list-link' href="{% url 'store_admin_app:category-crud-view' id=cat.id %}">
                  <p class='category-list-element'>{{ cat }}</p>
              </a>
            </div>
            {% endfor %}
        </div>

    </div>


 </div>

{% endblock content %}
