{% extends "store_admin_app/base.html" %}
{% load static %}

{% block content %}

 <link rel="stylesheet" type='text/css' href="{% static 'store_admin_app/css/categories.css' %}">

 <form method="post">
       {% csrf_token %}
   <input name="search_category" type="text" placeholder="Search...">
   <div class='search-button-div'>
   <button type="submit" class="btn btn-primary search-button">Search</button>
</div>
 </form>

<ul>
  {% for cat in categories %}
    <li>
      {{ cat }}
      </li>
    {% endfor %}
  </ul>

{% endblock content %}
