{% extends "store_admin_app/base.html" %}
{% load static %}

{% block content %}


<div class = 'category-div'>

 <link rel="stylesheet" type='text/css' href="{% static 'store_admin_app/css/categories.css' %}">
<div class = 'search-form-div'>
 <form method="post">
       {% csrf_token %}
      <div class="input-group mb-3">
        <input  name="search_category" type="text" class="form-control" placeholder="Search ... "/>
        <button type="submit" class="btn btn-primary">
          Search
        </button>
      </div>
 </form>

<a href='{% url "store_admin_app:category-create-view" %}'
   <button class="btn btn-primary">
     Add Category
   </button>
   </a>

 </div>

<h2>Category List </h2>
  {% for cat in categories %}
<div class='categoty-list'>
  <a class='category-list-link' href="{% url 'store_admin_app:category-crud-view' id=cat.id %}">
      <p class='category-list-element'>{{ cat }}</p>
  </a>
</div>
    {% endfor %}

 </div>

{% endblock content %}
