{% extends "store_admin_app/base.html" %}
{% load static %}

{% block content %}


<div class = 'collection-div'>


 <link rel="stylesheet" type='text/css' href="{% static 'store_admin_app/css/collections.css'%}?{% now 'U' %}">


    <h1>
        Colecciones
    </h1>

    <div class = 'search-form-div'>
 <form method="post">
       {% csrf_token %}
      <div class="input-group mb-3">
        <input  name="search_collection" type="text" class="form-control" placeholder="Buscar por titulo ... "/>
        <button type="submit" class="btn btn-primary search-button">
          Buscar
        </button>
      </div>
 </form>

<div class="create-button-div">
    <a href='{% url "store_admin_app:collection-create-view" %}'>
       <button class="btn btn-primary create-button">
         ADICIONAR +
       </button>
       </a>
</div>

 </div>

    <div class="collection-list-div">
        <h2>Lista de Colecciones </h2>
        <div class="collection-list-elements-div">
          {% for coll in collections %}
        <div class='collection-list'>
                <a class='collection-list-link' href="{% url 'store_admin_app:collection-crud-view' id=coll.id %}">
              <p class='collection-list-element'>{{ coll }}</p>
          </a>
        </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
