{% extends "store_admin_app/base.html" %}
{% load static %}

{% block content %}

 <link rel="stylesheet" type='text/css' href="{% static 'store_admin_app/css/index.css'%}?{% now 'U' %}">

     <div class="index-wrapper">
        <h1>
        Estadisticas de la Tienda
       </h1>

      <div class="cat-statistic-div">
          <h3>
         Top 10 productos (ventas)
        </h3>

        <div class="list-div">
          <div class='list-wrapper'>
         {% for prod in top_ten_products %}
          <div class='list-element'>
           <p>{{ prod.title}} - {{prod.amount_sold}}</p>
          </div>
         {% endfor %}
        </div>
        </div>
      </div>



      <div class="cat-statistic-div">
          <h3>
         Productos organizados por ventas (max -> min)
        </h3>

        <div class="list-div">
         <div class='list-wrapper'>
         {% for prod in top_products %}
           <div class='list-element'>
           <p>{{ prod.title}} - {{prod.amount_sold}}</p>
          </div>
         {% endfor %}
        </div>
        </div>
      </div>



     </div>


{% endblock content %}
