{% extends "store_admin_app/base.html" %}
{% load static %}

{% block content %}

<div class = 'product-div'>

 <link rel="stylesheet" type='text/css' href="{% static 'store_admin_app/css/products.css'%}?{% now 'U' %}">

     <h1>
        Productos
    </h1>


<div class = 'search-form-div'>
 <form method="post">
       {% csrf_token %}
      <div class="input-group mb-3">
         <input  name="search_product" type="text" class="form-control" placeholder="Buscar por titulo ... "/>
        <button type="submit" class="btn btn-primary search-button">
          Search
        </button>
      </div>
 </form>
 </div>


        <div class = 'filter-collection-form-div'>

    <form method="post">
       {% csrf_token %}
      <div class="input-group mb-3">
        <label for="filter_collection" class="form-label">Coleccion</label>
              <select class="form-select" name="filter_collection" id="filter_collection" value="filter_collection" onchange="submit();">
                  {% if default_collection == "All" %}
                    <option value="All" selected>All</option>
                  {% else %}
                     <option value="All">All</option>
                  {% endif %}
                  {% for coll  in collections %}
                      {% if default_collection == coll.title %}
                         <option value="{{coll.title}}" selected>{{coll.title}}</option>
                      {% else %}
                          <option value="{{coll.title}}">{{coll.title}}</option>
                      {% endif %}
                {% endfor %}
              </select>
      </div>
 </form>



 </div>

    <div class="create-button-div">
     <a href='{% url "store_admin_app:product-create-view" %}'>
        <button class="btn btn-primary create-button">
          ADICIONAR +
        </button>
        </a>
        </div>

 <div class="product-list-div">
        <h2>Lista de Productos </h2>
        <div class="product-list-elements-div">
              {% for prod in products %}
                    <div class='product-list'>
                      <a class='product-list-link' href="{% url 'store_admin_app:product-crud-view' id=prod.id %}">
                          <p class='product-list-element'>{{ prod.title }}</p>
                      </a>
                    </div>
                {% endfor %}
        </div>
     </div>
 </div>

{% endblock content %}
