.custom-colors-div{
  margin-top: 100px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 80%;
  max-width: 800px;
  margin-bottom: 200px;
  color: rgba(100,100,100,1) !important;
  font-family: "Roboto, sans-serif";
  font-size: 1.2em;
}

h1{
  text-align: center;
  color: #244c77;
}

.search-form-div{
  margin-top: 50px;
  max-width: 500px;
  min-width: 300px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.create-button-div{
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.create-button, .search-button{
    background-color: dodgerblue !important;
    border-color: dodgerblue !important;

}

.create-button:after,
.create-button:active,
.create-button:focus,
.create-button:hover,
.search-button:after,
.search-button:active,
.search-button:focus,
.search-button:hover{
    background-color: #0d6efd!important;
    border-color: #0d6efd!important;
}

.custom-colors-list-div{
  margin-top: 50px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: max-content;
}

h2{
  color: #244c77;
}

.custom-colors-list-elements-div{
  margin-top: 30px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 350px
}

.custom-colors-list{
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  margin-top: 10px;
  min-height: 50px;
  display: flex !important;
  flex-direction: row !important;
}

.custom-colors-list-link{
  text-decoration: none !important;
  color: black !important;
  width: 100%;
}

.custom-colors-pre-div{
  display: inline-block;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(50%, 30%);
}

.custom-colors-nickname-div{
  display: inline-block;
  text-align: center;
}

h2{
    text-align: center;
}

.custom-colors-list-element{
  margin-left: 30px;
  padding-top: 10px;
}


