.login-div{
  width:80%;
  max-width: 800px;
  margin-top: 100px;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid royalblue;
  color: rgba(100,100,100,1);
  font-family: "Roboto, sans-serif";
  font-size: 1.2em;
}

.header-div{
  width: 100%;
  background-color: #244c77;
}

h1{
  color: white;
  background-color: #244c77;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px
}

.login-form{
  width:90%;
  max-width: 800px;
  margin-left:auto !important;
  margin-right:auto !important;
  margin-top:10px;
  margin-bottom:10px;
  min-height: 300px;
  max-height: 500px;
}

.form-field-div{
  margin-top: 20px;
  max-width: 500px;
  min-width: 200px;
  margin-left:auto !important;
  margin-right:auto !important;
}

.login-button-div{
  width:100%;
  min-width: 150px;
  max-width: 300px;
  margin-left:auto !important;
  margin-right:auto !important;
  text-align:center;
  margin-top: 30px;
}

.login-button{
  width: 100%;
  background-color: steelblue;
}

.form-p{
  font-size: 20px !important;
  padding: 0;
}

@media screen and (max-width: 992px){
  .login-div{
    margin-top: 200px;
    width: 90%;
    max-width: 720px;
  }

  .login-button-div{
     margin-top: 50px;
}

.form-p{
  font-size: 30px !important;
  padding: 0;
}



}


@media screen and (max-width: 758px){
  .login-div{
    margin-top: 50px;
    width: 90%;
    max-width: 300px;
  }

  .form-p{
  font-size: 20px !important;
  padding: 0;
}
}
