.order-div{
  margin-top: 100px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 80%;
  max-width: 1000px;
  margin-bottom: 200px;
  color: rgba(100,100,100,1) !important;
  font-family: "Roboto, sans-serif";
  font-size: 1.2em;
}

p{
    color: rgba(100,100,100,1) !important;
  font-family: "Roboto, sans-serif";
  font-size: 1.2em;
}

h1{
  text-align: center;
  color: #244c77;
}

h2{
  color: #244c77;
  text-align: center;
}

.form-label{
  margin-right: 10px;
  padding-top: 10px;
}

.form-field-div{
  margin-top: 30px;
}

.form-label{
  font-size: 1.0em;
  color: #244c77;
}

.form-field-label{
  font-size: 1.0em;
  color: #244c77;
}

.order-info-div{
  width: max-content;
  margin-top: 50px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.button-div{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: max-content;
}

.button-div > button{
    font-size: 1.0em;
}

.refund-status-p, .order-info-div > p > span{
  font-size: 1.0em;
  color: #244c77;
}

.order-info-div > p{
  font-size: 1.0em;
}

.products-div{
  margin-top: 50px;
}

.order-list-div{
  margin-top: 50px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: max-content;
}

.order-list-elements-div{
  margin-top: 30px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.order-list{
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  margin-top: 10px;
  min-height: 40px;
  width: 1000px;
  text-align: center;
}

.order-list-link{
  text-decoration: none !important;
  color: black !important;
  vertical-align: middle;
}

.order-list-element{
  margin-left: 10px;
  vertical-align: middle;
  padding-top: 10px;
  font-size: 1.0em;
}

.order-list-element > span{
  color: #244c77;
}


.custom-colors-pre-div{
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}

.row-div{
  width: 100%;
}

.col-sm-10 > .row > .col-sm-4 > p{
  font-size: 1.0em;
  text-align: start;
  padding: 0;
  padding-left: 20px;
}


.col-sm-4 > p > span{
  color: #244c77;
}

.create-button{
    background-color: dodgerblue !important;
    border-color: dodgerblue !important;

}

.create-button:after,
.create-button:active,
.create-button:focus,
.create-button:hover{
    background-color: #0d6efd!important;
    border-color: #0d6efd!important;
}