.product-div{
  margin-top: 100px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 80%;
  max-width: 600px;
  min-width: 300px;
  margin-bottom: 200px;
  color: rgba(100,100,100,1) !important;
  font-family: "Roboto, sans-serif";
  font-size: 1.2em;
}

h1{
  text-align: center;
  color: #244c77;
}

.product-form{
  margin-top: 50px;
  margin-bottom: 200px;
}

.form-field-div{
  margin-top: 20px;
}

.form-field-div > p{
  padding: 0px !important;
  margin: 0px !important;
}

.login-button-div{
  margin-top: 50px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 150px;
}

.form-label{
  font-size: 1.3em;
  color: #244c77;
}

.add-extra-img-field{
  color: white !important;
  font-size: 18px;
  background-color: dodgerblue !important;
  border-color: dodgerblue !important;
}

.add-extra-img-field:after,
.add-extra-img-field:active,
.add-extra-img-field:focus,
.add-extra-img-field:hover{
    background-color: #0d6efd!important;
    border-color: #0d6efd!important;
}

.alert-div{
  margin-top: 50px;
}

.alert{
  margin-top: 5px;
}

.login-button{
    background-color: dodgerblue !important;
    border-color: dodgerblue !important;

}

.login-button:after,
.login-button:active,
.login-button:focus,
.login-button:hover{
    background-color: #0d6efd!important;
    border-color: #0d6efd!important;
}